<div class="home-root">
  <div class="bg-wrap" aria-hidden="true">
    <div class="bg-layer bg-base"></div>
    <div class="bg-layer bg-soft"></div>
    <div class="bg-layer bg-glow"></div>
    <div class="bg-grain"></div>
  </div>

  <section class="hero">
    <div class="hero-card">
      <div class="hero-logo">
      </div>
<!-- 
      <div class="hero-content">
        @if (!user) {
        <h2>ברוכים הבאים לאתר 🎁</h2>
        } @else {
        <p>שלום אורח</p>
        <h2>ברוכים הבאים לאתר 🎁</h2>
        <p>התחברו או הירשמו כדי להתחיל</p>
        }
      </div> -->
    </div>
  </section>
</div>
